@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 40px;
}

.container h1 {
  text-align: center;
  font-size: 47px;
}

.row {
  height: 100px;
}

.col {
  cursor: pointer;
  color: white;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 75px;
  text-align: center;
  line-height: 100px;
  border-bottom: white;

}

.border-b {
  border-bottom: 5px solid;
}

.border-r {
  border-right: 5px solid;
}

.informacoes {
  width: 390px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.info {
  color: white;
  float: left;
  width: 150px;
}

.info2 {
  color: #ffffffa8;
  float: left;
  width: 80px;
} 

.info3 {
  color: #ffffffa8;
  float: left;
  width: 150px;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.87);
}

span{
  padding-left: 12px;
}
.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 11px;
}

.menu a {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  display: block;
  transition: 0.3s;
}



.menu b {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: #2468fa;
}

.menu .botaoFechar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}

#sanduiche{
  cursor: pointer;
}

